<!DOCTYPE html>
<html>
  <head>
    <title>Burito</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href = <%= ads_path %>>
            All ads
          </a>
          <% if user_signed_in? %>
            <a class="navbar-item" href = <%= new_ad_path %>>
              New ad
            </a>
            <a class="navbar-item" href = <%= user_ads_path %>>
              My ads
            </a>
          <% end %>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <% if user_signed_in? && current_user.avatar.attached? %>
              <figure class="image is-24x24">
                <%= image_tag current_user.avatar.variant(resize_to_limit: [24, 24]), class: "is-rounded" %>
              </figure>
            <% end %>
            <div class="buttons">
              <% if user_signed_in? %>
                <%= link_to current_user.name, edit_user_registration_path, class:"button is-text" %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"button is-dark" %>
              <% else %>
                <%= link_to "Sign Up", new_user_registration_path, class:"button is-primary" %>
                <%= link_to "Log in", new_user_session_path, class:"button is-light" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Burito</strong> by <a href="https://vk.com/ratmirn">Naumov Ratmir</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
